<!doctype html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- PAGE TITLE -->
  <title>Quiz Question Test</title>




  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../../static/js/quiz_question.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../../static/css/normalize.css">
  <link rel="stylesheet" href="../../static/css/style.css">

</head>

<body>
  <div class="container-fluid">
    <!-- HEADER -->
    <header>


      <div id="nav_container" class="nav-container">

        <img src="../../static/images/oceanusLogo.png" class="logo">

        <div class="nav-option-group">
          <ul>
            <li class="nav-option"><a href="#">HOME</a></li>
            <li class="nav-option"><a href="#">CONTENT</a></li>
            <li class="nav-option"><a href="#">MAP</a></li>
          </ul>
        </div>

      </div>
    </header>

    <!-- CONTENT SECTION 1 -->
    <section id="content_section_1" class="content-section">

      <div class="row">
        <div class="col-md-6 left-block">
          <h3>CONTENT</h3>
          <p>Did you know?</p>
          <p>Red is the best colour?</p>
          <p>Why, because I said so :P</p>
        </div>
        <div class="col-md-6 right-block">
          <img src="../../static/images/test_image.png" class="content-image">
        </div>
      </div>



    </section>

    <!-- QUIZ QUESTION 1 -->
    <section id="quiz_section" class="quiz-section">
      <form id="quiz_form" action="#">
      </form>
    </section>

    <!-- CONTENT SECTION 2 -->
    <section id="content_section_2" class="content-section">
    </section>

    <!-- FOOTER -->
    <footer>
      <p class="footer-text">Oceanus Project &copy; 2020</p>
    </footer>
  </div>
</body>

</html>
