/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET :  Adventure Quiz Page */
/* DESCRIPTION : Styles only applicable to the adventure quiz page */
/* AUTHOR:     : Malcolm Malloy */
/* TARGET HTML : templates/adventurequiz.html */

/* -------------------------- */
/* CONTENT : CONTENT SECTIONS */
/* -------------------------- */

iframe {
  width: 100%;
  height: -webkit-fill-available;
  margin-bottom: 60px;
}

.content-section {
  min-height: 300px;
  position: relative;
  font-size: 22px;
  font-family: COPILME_L;
  color: #444444;
  letter-spacing: 2px;
  font-kerning: none;
}

.content-section .left-block{
  min-height: 300px;
  position: relative;
}

.content-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 190px 0 0 100px;
  border-color: transparent transparent transparent #92aac7;
  position: absolute;
  bottom: 0px;
  user-select: none;
}

.content-image {
  width: inherit;
}

.content-fun-fact {
  font-style: italic;
  color: #3f83c2;
  font-size: x-large;
  text-align: center;
}

.content-fun-fact-image {
  width: 100px;
  height: 100px;

}

.adventure-full-block {
    padding: 0px 100px 50px 100px;
}

.full-block .content-fun-fact {
  margin-right: 10vw;
}

.full-block .content-fun-fact-image {
  margin-left: 100%;
}

.full-block .content-fun-fact-image img{
  width: 10vw;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.left-block .content-fun-fact {
  margin-right: 10vw;
}

.left-block .content-fun-fact-image {
  margin-left: 100%;
}

.left-block .content-fun-fact-image img{
  width: 10vw;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.right-block .content-fun-fact-image img{
  width: 10vw;
  height: auto;
  margin-left: -100%;
}

.left-block, .right-block {
  text-align: justify;
}

.red-text {
  color: #b63e2e;
  font-size: 24px;
}

.green-text {
  color: #99cc66;
  font-size: 24px;
}

/* ----------------------- */
/* CONTENT : WELCOME QUIZ SECTION */
/* ----------------------- */

.welcome_quiz_section {
  background-color: #3f83c2;
  color: white;
  position: inherit;
  height: 100vh;
  padding: 20vh 0px;
}

.welcome_quiz_section p,
.welcome_quiz_section h1,
.welcome_quiz_section h2,
.welcome_quiz_section h3 {
  color: white;
}

/* ----------------------- */
/* CONTENT : QUIZ SECTION */
/* ----------------------- */

.quiz-section {
  background-color: #3f83c2;
  color: white;
  position: inherit;
  height: 100vh;
  padding: 20vh 0px;
}

.quiz-section p,
.quiz-section h1,
.quiz-section h2,
.quiz-section h3 {
  color: white;
}

.quiz-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 190px 93.5px 0 93.5px;
  border-color: #346099 transparent transparent transparent;
  position: absolute;
  left: 20px;
  user-select: none;
}

.quiz-submit {
  width: 100%;
  border: 0px;
  outline: none !important;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  margin: 0px auto 50px auto;
}

.quiz-submit  img {
  width: 85px;
}

.quiz-next {
    border: 0px;
    outline: none !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px auto 50px auto;
}

.quiz-next img {
    width: 200px;
}

.start-journey {
    border: 0px;
    outline: none !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 50px auto 50px auto;
    cursor: pointer;
}

.start-journey img {
    width: 300px;
}

.end-journey {
    border: 0px;
    outline: none !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 50px auto 50px auto;
}

.end-journey img {
    width: 300px;
}

.play-button {
    border: 0px;
    outline: none !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px auto 50px auto;
}

.play-button img {
    width: 200px;
}


.play-button-col {
    text-align: right;
}

.next-button-col {
    text-align: left;
}

.no-game-next-button, .end-journey-button {
    text-align: center;
}

/* Spans left 50% width of page */
.quiz-question-1 .left-block {
  padding: 15px 50px 15px 100px !important;
}

/* Spans right 50% width of page */
.quiz-question-1 .right-block {
  padding: 15px 100px 15px 50px !important;
}

.scrollable {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
