.close-button {
  font-size: 22px;
  font-family: COPILME_L;
  color: #346099;
  letter-spacing: 2px;
  font-kerning: none;
  line-height: 50px;
}

.close-button:hover {
  display: inline-block;
  transform: scale(1.1);
  text-decoration: none;
}

.container {
  max-width: 100%;
  padding: inherit;
}

.card-block {
  pointer-events:none;
  filter: brightness(20%);
}

.memory-game {
  text-align: right;
}

.memory-card {
  margin: 2% 0px;
  text-align: center;
  cursor: pointer;
}

.memory-card-image {
  max-width: 10vw;
  max-height: 18vh;
}

.memory-card-hover:hover {
  transform: scale(1.1, 1.1);
}

.memory-background {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgb(0,0,0,0.9);
  color: white;
  padding: 10vh 0px;
  z-index: 40;
}

.game-over-background {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  background-color: rgb(0,0,0,0.9);
  color: white;
}

.shadowfilter {
-webkit-filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.7));
 drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.7))
}

.green-highlight {
  box-shadow: 0px 0px 20px rgba(0,255,0,0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.red-highlight  {
  box-shadow: 0px 0px 20px rgba(255,0,0,0.6);
  /* transition: box-shadow 0.3s ease-in-out; */
  transition-duration: 0.2s, 2s;
  transition-property: box-shadow;
}

.game-over {
  text-align: center;
}

.user-feedback {
  position: relative;
  margin: auto;
}

.user-feedback p {
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.start-game {
  cursor: pointer;
}

.exit-game {
  cursor: pointer;
}

.start-game img {
  width: 10vw;
}

.exit-game img {
  width: 10vw;
}

.close-button {
  cursor: pointer;
}

.scrollable {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.span-green {
  color: #99cc66;
  font-size: 30px;
}

.span-red {
  color: #b63e2e;
  font-size: 30px;
}

.span-blue {
  color: #346099;
  font-size: 30px;
}
