/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET :  Quiz's & Games (Content) Page */
/* DESCRIPTION : Styles only applicable to the content page */
/* AUTHOR:     : Malcolm Malloy */
/* TARGET HTML : templates/content.html */

/* -------------------------- */
/* CONTENT : CONTENT SECTIONS */
/* -------------------------- */

.content-section {
  min-height: 300px;
  position: relative;
  padding: 50px 0px;
}

.content-section .left-block{
  min-height: 300px;
  position: relative;
}

.content-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 190px 0 0 100px;
  border-color: transparent transparent transparent #92aac7;
  position: absolute;
  bottom: 0px;
  user-select: none;
}

.content-image {
  width: inherit;
}

.content-fun-fact {
  font-style: italic;
  color: #3f83c2;
  font-size: x-large;
}

.left-block, .right-block {
  text-align: justify;
}

.red-text {
  color: #b63e2e;
  font-size: 24px;
}

.green-text {
  color: #99cc66;
  font-size: 24px;
}

/* ----------------------- */
/* CONTENT : QUIZ SECTION */
/* ----------------------- */

.quiz-section {
  background-color: #3f83c2;
  color: #FFFFFF;
  position: relative;
  /* padding: 50px 0px; */
}

.quiz-section p, .quiz-section h1, .quiz-section h2, .quiz-section h3 {
  color: #FFFFFF;
}

.quiz-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 190px 93.5px 0 93.5px;
  border-color: #346099 transparent transparent transparent;
  position: absolute;
  left: 20px;
  user-select: none;
}

.quiz-submit {
  width: 100%;
  border: 0px;
  outline: none !important;
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
  margin: 0px auto 50px auto;
}

.quiz-submit  img {
  width: 85px;
}

.quiz-next {
    width: 100%;
    border: 0px;
    outline: none !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 0px auto 50px auto;
}

/* Spans left 50% width of page */
.quiz-question-1 .left-block {
  padding: 15px 50px 15px 100px !important;
}

/* Spans right 50% width of page */
.quiz-question-1 .right-block {
  padding: 15px 100px 15px 50px !important;
}

#shark_section canvas {
  display: block;
  /* margin: 5vh auto; */
}

.shark-background {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  background-color: rgb(0,0,0,0.9);
  color: white;
}
