.journey-complete {
    text-align: center;
}

.profile-page-button {
    border: 0px;
    outline: none !important;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    margin: 20px auto 10px auto;
}

.profile-page-button img {
    width: 250px;
}