/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET  : Explore Page */
/* DESCRIPTION : Styles only applicable to the explore page */
/* AUTHOR      : Malcolm Malloy */
/* TARGET HTML : templates/explore.html */

/* ------------------------ */
/* EXPLORE : GENERAL STYLES */
/* ------------------------ */

main {
  position: relative;
}

main a {
  font-size: 22px;
  font-family: COPILME_L;
  color: #346099;
  letter-spacing: 2px;
  font-kerning: none;
}

main a:hover {
  display: inline-block;
  transform: scale(1.1);
  text-decoration: none;
  padding: 0px 10px;
}

.number-font {
  font-family: COPILME_L;
}

/* --------------------------- */
/* EXPLORE : BACKGROUND STYLES */
/* --------------------------- */

/* DIV : Background triangles common */
.map-background {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  user-select: none;
  z-index: -1;
}

/* DIV : Top-left background triangle */
.top-left {
  border-width: 200px 100px 0 100px;
  border-color: #92aac7 transparent transparent transparent;
  top: 0px;
  left: 160px;
  z-index: 1;
  opacity: 0.6;
}

/* DIV : Bottom-left background triangle */
.bottom-left {
  border-width: 0 75px 120px 75px;
  border-color: transparent transparent #111111 transparent;
  bottom: 0px;
  left: 20px;
  opacity: 0.3;
}

/* DIV : Bottom-right background triangle */
.bottom-right {
  border-width: 0 0 300px 100px;
  border-color: transparent transparent #92aac7 transparent;
  bottom: 0px;
  right: 0px;
}


.z-index-2 {
  z-index:2;
  position: relative;
}

/* --------------------- */
/* EXPLORE : TABLEAU MAP */
/* --------------------- */

.map-section p {
  margin-left: 12px;
}

#tableauViz_2019 iframe {
  height: 300px !important;
  z-index:0;
}

/* ----------------------------- */
/* EXPLORE : TABLEAU WASTE GRAPH */
/* ----------------------------- */

.waste-section {
  background-color: #466fa0;
  color:#ffffff;
}

.waste-section p {
  margin-left: 12px;
}

.waste-section a {
  color: #99cc66;
}

.waste-section h1, .waste-section h2, .waste-section h3 {
  color: #99cc66 !important;
}

.waste-section p, .waste-section h1, .waste-section h2, .waste-section h3 {
  color:#ffffff;
}

#tableauViz_waste iframe {
  height: 400px !important;
}

/* ------------------------- */
/* MAP : TABLEAU REUSE GRAPH */
/* ------------------------- */

.reuse-section {
}

.reuse-section p {
  margin-left: 12px;
}

.margin-reuse-top {
  padding-top: 76px;
}

.margin-reuse-bottom {
  padding-bottom: 76px;
}

#tableauViz_reuse iframe {
  height: 400px !important;
}


/* ---------------- */
/* EXPLORE : IMAGES */
/* ---------------- */

.target155-image {
  width: inherit;
}

/* Override default banner image */
.header {
  height: 100vh !important;
  background-image: url('../images/banners/Banner1.jpg');
}

