/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET :  Index Page */
/* DESCRIPTION : Styles only applicable to the home page */
/* AUTHOR:     : Malcolm Malloy */
/* TARGET HTML : templates/index.html */

/* ---------------------- */
/* INDEX : HEADER SECTION */
/* ---------------------- */

.header {
  min-height: 40vh;
}

/* ---------------------------- */
/* INDEX : CTA */
/* ---------------------------- */

.cta {
  min-height: 75vh;
}

.cta .row {
  padding: 15vh 100px;
  z-index: 20;
}

.cta-block {
  padding: 0px 2vw;
  margin-bottom: 40px;
  text-align: center;
  -webkit-filter: drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.7));
   drop-shadow(15px 15px 10px rgba(0, 0, 0, 0.7))
}

.cta-block:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.cta-text {
  height: 15vh;
  width: 100%;
  background-color: #ffffff;
}

.cta-image {
  height: 35vh;
  width: 100%;
  background-color: #ffffff;
}

.cta-games {
  background-image: url('../images/logos/logo-game.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.cta-games-text {
  background-color: #3f83c2;
}

.cta-games-text h2 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: COPILME_L;
  color: #ffffff;
  margin-bottom: 0px;
  line-height: 15vh;
  background-color: #3f83c2;
}

.cta-adventure {
  background-image: url('../images/logos/logo-context.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.cta-adventure-text {
  background-color: #b63e2e;
}

.cta-adventure-text h2 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: COPILME_L;
  color: #ffffff;
  margin-bottom: 0px;
  line-height: 4.5vh;
}

.cta-adventure-text br {
  line-height: 5vh;
}


.cta-explore {
  background-image: url('../images/logos/logo-explore.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.cta-explore-text {
  background-color: #4a9d2c;
}

.cta-explore-text h2 {
  font-size: 3em;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: COPILME_L;
  color: #ffffff;
  margin-bottom: 0px;
  line-height: 15vh;
}

.world-image {
  background-image: url('../images/logos/logo-explore.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* ---------------------------- */
/* INDEX : INTRODUCTION SECTION */
/* ---------------------------- */

#introduction p {
  margin-left: 12px;
}

#introduction img {
  width: inherit;
}

.introduction-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 190px 93.5px 0 93.5px;
  border-color: #92aac7 transparent transparent transparent;
  position: absolute;
  right: 20px;
  user-select: none;
  opacity: 0.7;
}

iframe {
  width: 100%;
  height: -webkit-fill-available;
  display: block;
}

@media (max-width: 768px) {
  .introduction-text {
    padding-right: 100px !important;
  }
}
