/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET :  Index Page */
/* DESCRIPTION : Styles only applicable to the home page */
/* AUTHOR:     : Malcolm Malloy */
/* TARGET HTML : templates/index.html */

/* ---------------------- */
/* INDEX : HEADER SECTION */
/* ---------------------- */

.header {
  min-height: 400px;
}

/* ---------------------------- */
/* INDEX : INTRODUCTION SECTION */
/* ---------------------------- */

#introduction img {
  width: inherit;
}

.introduction-background {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 190px 93.5px 0 93.5px;
  border-color: #92aac7 transparent transparent transparent;
  position: absolute;
  right: 20px;
  user-select: none;
  opacity: 0.7;
}

/* ---------------------------- */
/* INDEX : BLUE DIVIDER SECTION */
/* ---------------------------- */

#blue_divider {
  color: #ffffff;
  background-color: #92aac7;
  text-align: center;
}
