.login-container {
    background-size: 800px !important;
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 10% 0px;
    display: table;
    background-image: url('../images/loginframe.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
}

.login-container label {
  width: 84px;
  text-align: right;
}

.login-container h2 {
  margin-top: 25px;
}

.login-button {
  margin-top: 5px;
}

.login-button img {
  width: 100px;
}

