/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET :  Map Page */
/* DESCRIPTION : Styles only applicable to the map page */
/* AUTHOR:     : Malcolm Malloy */
/* TARGET HTML : templates/map.html */

/* -------------------- */
/* MAP : GENERAL STYLES */
/* -------------------- */

main {
  position: relative;
}

/* ----------------------- */
/* MAP : BACKGROUND STYLES */
/* ----------------------- */

/* DIV : Background triangles common */
.map-background {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  user-select: none;
  z-index: -1;
}

/* DIV : Top-left background triangle */
.top-left {
  border-width: 200px 100px 0 100px;
  border-color: #92aac7 transparent transparent transparent;
  top: 0px;
  left: 160px;
}

/* DIV : Bottom-left background triangle */
.bottom-left {
  border-width: 0 75px 120px 75px;
  border-color: transparent transparent #111111 transparent;
  bottom: 0px;
  left: 20px;
  opacity: 0.3;
}

/* DIV : Bottom-right background triangle */
.bottom-right {
  border-width: 0 0 300px 100px;
  border-color: transparent transparent #92aac7 transparent;
  bottom: 0px;
  right: 0px;
}

/* ---------------------- */
/* MAP : 2019 TABLEAU MAP */
/* ---------------------- */

#map-1 .right-block {
  padding-left: 0px;
}

/* ----------------------- */
/* MAP : RESPONSIVE LAYOUT */
/* ----------------------- */

@media (max-width:768px){
  #map-1 .right-block {
    padding-left: 100px;
  }
}
