/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET  : Our Story Page */
/* DESCRIPTION : Styles only applicable to the our story page */
/* AUTHOR      : Malcolm Malloy */
/* TARGET HTML : templates/ourstory.html */

/* -------------------------- */
/* OUR STORY : HEADER SECTION */
/* -------------------------- */

/* Override default banner image */
.header {
  height: 100vh !important;
  background-image: url('../images/banners/Banner4.jpg');
}

/* ----------------------------- */
/* OUR STORY : THE STORY SECTION */
/* ----------------------------- */

.the-story p{
  padding-left: 12px;
  /* text-align: justify; */
}

/* ---------------------------- */
/* OUR STORY : ABOUT US SECTION */
/* ---------------------------- */

.about-us-text {
  color: #ffffff;
  position: absolute;
  z-index: 2;
  margin: 40px 60px;
  font-size: 22px;
  font-family: COPILME_L;
  letter-spacing: 2px;
  font-kerning: none;
}

.about-us-text p {
  margin-bottom: 30px;
}

.about-us-text li {
  margin-bottom: 10px;
}

.sharks-intro .left-block img {
  width: inherit;
  height: 100%;
  filter: brightness(60%);
}

.sharks-intro .right-block img {
  width: inherit;
  margin: auto;
  display: block;
}
