.nickname {
  margin-bottom: 5px;
}

.high-score-block {
  text-align: center;
}

.quiz-border .high-score-block:nth-child(odd) .high-score-border {
  background-color: #7bb0e1;
}

.quiz-border .high-score-block:nth-child(even) .high-score-border {
  background-color: #75ca63;
}

.high-scores .high-score-block:nth-child(1n+0) .high-score-border {
  background-color: #7bb0e1;
}

.high-scores .high-score-block:nth-child(2n+0) .high-score-border {
  background-color: #75ca63;
}

.high-scores .high-score-block:nth-child(3n+0) .high-score-border {
  background-color: #ca7575;
}

.high-score-border, .quiz-results-border, .badges-border {
  border-radius: 5px;
  width: 100%;
}

.high-score-border {
  padding: 20px 30px;
  min-height: 200px;
  margin-bottom: 40px;
  display: inline-grid !important;
}


.high-score-border h4 {
  font-size: 50px;

}

.high-score-border h2 {
  font-family: COPILME_L;
}

.high-score-border p, .high-score-border h2, .high-score-border h4 {
  margin: 0px;
}

.quiz-results-section, .badges-section {
  text-align: center;
}

.blue-border {
  background-color: #7bb0e1;
}

.green-border {
  background-color: #75ca63;
}

.red-border {
  background-color: #ca7575;
}

.badge-image img {
  width: 200px;
}

.badge-data {
  line-height: 30px;
  text-align: left;
}

.badge-data p {
  margin-bottom: 0px;
}

h4 {
  font-size: 30px;
  font-weight: 900;
  font-family: COPILME_L;
}

.badge-row {
  margin-bottom: 20px;
}

.welcome-header {
  padding: 50px 100px 0px 100px;
}

.section-header {
  text-align: center;
  margin-top: 50px;
}

.section-content {
  padding: 0px 100px 50px 100px;
}

@media (max-width: 768px) {
  .badge-text {
    position: inherit !important;
    top: inherit !important;
    -ms-transform: none !important;
    transform: none !important;
    text-align: center;
  }
}
