.shark-background {

  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgb(0,0,0,0.9);
  color: white;
  z-index: 40;

}

.shark-background canvas {
  display: block;
  margin: auto;

}


.pipe-user-feedback {
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.pipe-user-feedback p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.game-over {
  text-align: center;
}

.game-over-background {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  background-color: rgb(0,0,0,0.9);
  color: white;
}