/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET  : Signup Page */
/* DESCRIPTION : Styles only applicable to the signup page */
/* AUTHOR      : Malcolm Malloy */
/* TARGET HTML : templates/signup.html */

/* ---------------- */
/* SIGNUP : GENERAL */
/* ---------------- */

/* Override default banner image */
.header {
  height: 40vh !important;
  background-image: url('../images/banners/Loginbanner.jpg');
}

.signup-container {
    background-size: 800px !important;
    width: 800px;
    margin: auto;
    text-align: center;
    padding: 10% 0px;
    display: table;
    background-image: url('../images/signupframe.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 10vh;
}

.signup-container label {
  width: 165px;
  text-align: right;
}

.signup-container h2 {
  margin-top: 25px;
}

.signup-button {
  margin-top: 5px;
}

.signup-button img {
  width: 100px;
}
