/* --------------- */
/* OCEANUS PROJECT */
/* --------------- */

/* STYLESHEET :  Global Styles */
/* DESCRIPTION : A global stylesheet used by all pages */
/* AUTHOR:     : Malcolm Malloy */

/* ----------- */
/* STYLES : FONTS */
/* ----------- */

@font-face {
  font-family: Kiddo_Handwriting;
  src: url("../fonts/Kiddo_Handwriting.ttf");
}

@font-face {
  font-family: Be-Honest;
  src: url("../fonts/Be Honest.ttf");
}

@font-face {
  font-family: COPILME_L;
  src: url("../fonts/COPILME_L.ttf");
}

/* -------------------- */
/* STYLES : GENERAL STYLES */
/* -------------------- */

body {
  margin: 0px;
  overflow-x: hidden;
}

body p {
  font-size: 22px;
  font-family: COPILME_L;
  color: #444444;
  letter-spacing: 2px;
  font-kerning: none;
}

h2 {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 3px;
  font-family: Be-Honest;
  color: #b63e2e;
  margin-bottom: 22px;
}

h3 {
  font-size: 34px;
  font-weight: 300;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-family: Be-Honest;
  color: #b63e2e;
}

/* Removes white border */
.container-fluid {
  padding: 0px !important;
}

/* Spans whole page width */
.full-block {
  padding: 50px 100px 50px 100px;
}

/* Spans left 50% width of page */
.left-block {
  padding: 50px 50px 50px 100px;
}

/* Spans right 50% width of page */
.right-block {
  padding: 50px 100px 50px 50px;
}

/* Removes padding and margins */
.no-padding {
  padding: 0px !important;
  margin: 0px !important;
}


/* ------------------------------ */
/* STYLES : CHECKBOX / RADIO BUTTONS */
/* ------------------------------ */


label {
  letter-spacing: 3px;
  margin: 3px 0px 3px 20px;
  font-size: 20px;
  font-family: Kiddo_Handwriting;
}

input[type=checkbox]:not(old),
input[type=radio]:not(old){
  width     : 2em;
  margin    : 0;
  padding   : 0;
  font-size : 1em;
  opacity   : 0;
}

input[type=checkbox]:not(old) + label,
input[type=radio   ]:not(old) + label{
  display      : inline-block;
  margin-left  : -2em;
  line-height  : 1.5em;
}

/* Radio button style */
input[type=checkbox]:not(old) + label > span,
input[type=radio   ]:not(old) + label > span{
  display          : inline-block;
  width            : 1em;
  height           : 1em;
  margin           : 0.25em 0.5em 0.25em 0.25em;
  border           : 0.0625em solid rgb(192,192,192);
  border-radius    : 0.5em;
  background       : rgb(224,224,224);
  background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
  background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
  vertical-align   : bottom;
}

input[type=checkbox]:not(old):checked + label > span,
input[type=radio   ]:not(old):checked + label > span{
  background-image :    -moz-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :     -ms-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :      -o-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image : -webkit-linear-gradient(rgb(224,224,224),rgb(240,240,240));
  background-image :         linear-gradient(rgb(224,224,224),rgb(240,240,240));
}

/* Checkbox style when checked */
input[type=checkbox]:not(old):checked + label > span:before{
  content     : '✓';
  display     : block;
  width       : 1em;
  color       : rgb(153,204,102);
  font-size   : 0.875em;
  line-height : 1em;
  text-align  : center;
  text-shadow : 0 0 0.0714em rgb(115,153,77);
  font-weight : bold;
}

/* Radio button style when checked */
input[type=radio]:not(old):checked + label > span > span{
  display          : block;
  width            : 0.5em;
  height           : 0.5em;
  margin           : 0.2em;
  border           : 0.0625em solid rgb(115,153,77);
  border-radius    : 0.5em;
  background       : rgb(153,204,102);
  background-image :    -moz-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :     -ms-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :      -o-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image : -webkit-linear-gradient(rgb(179,217,140),rgb(153,204,102));
  background-image :         linear-gradient(rgb(179,217,140),rgb(153,204,102));
}


/* ---------------------------- */
/* STYLES : BLUE DIVIDER SECTION */
/* ---------------------------- */

#green_divider {
  color: #ffffff;
  background-color: #4a9d2c;
  text-align: center;
}

#green_divider p {
  color: #ffffff;
}

/* ------------ */
/* STYLES : HEADER */
/* ------------ */

header {
  height: 30vh;
  background-image: url('../images/banner.png');
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-size: cover;
  padding: 0px 5%;
  display: flow-root;
}

/* ------------- */
/* STYLES : NAV BAR */
/* ------------- */

.logo {
  height: 65px;
  margin-left: -25px;
  margin-top: -4px;
  /* padding: 10px 20px; */
  position: absolute;
}

.nav-container {
  height: 55px;
  max-height: 55px;
  margin-top: 70px;
  background-color: #ffffff;
  border-radius: 35px;
  box-shadow: 2.5px 5px 4px rgba(0, 0, 0, 0.5);
}

.nav-option-group {
  padding-right: 20px;
  text-align: right;
  line-height: 55px;
  z-index: 21;
}

.nav-option {
  list-style-type: none;
  display: inline-flex;
  padding: 0px 2%;
}

.nav-option a {
  text-decoration: none;
  color: #346099;
  cursor: pointer;
  font-family: Be-Honest;
  font-size: 18px;
}

.nav-option:hover, .logo:hover, .hamburger-option:hover, .hamburger-logo:hover, .hamburger-bars-container:hover {
  transform: scale(1.1);
}

.hamburger-container {
  background-color: #ffffff;
  position:fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 20;
}

.hamburger-option-group {
  width: 400px;
  margin: auto;
  text-decoration: none;
  text-align: center;
}

.hamburger-option-group ul {
  list-style-type: none;
  padding: 0px;
}


.hamburger-logo {
  height: 65px;
  z-index: 21;
  margin: auto;
  display: block;
}

.hamburger-option a {
  text-decoration: none;
  font-size: 28px;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #3f83c2;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 2.5px;
  z-index: 21;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

@media only screen and (max-width: 930px) {

  .nav-option {
    display: none !important;
  }

  .hamburger-bars-container {
    display: inherit !important;
    float: right;
    padding: 8px 20px;
    z-index: 30 !important;
    position: relative;
  }

}

/* ------------ */
/* STYLES : FOOTER */
/* ------------ */

footer {
  background-color: #3f83c2;
  color: #FFFFFF;
  text-align: center;
  padding: 50px;
  min-height: 25vh;
}

.footer-text {
  display: inline-block;
}

.footer-text p{
  font-size: 16px;
  line-height: 20px 0px;
  margin: 12px 0px;
  color: #ffffff;
  font-family: COPILME_L;
  letter-spacing: 2.5px;
}
