.close-button {
  font-size: 22px;
  font-family: COPILME_L;
  color: #346099;
  letter-spacing: 2px;
  font-kerning: none;
  line-height: 50px;
}

.close-button:hover {
  display: inline-block;
  transform: scale(1.1);
  text-decoration: none;
}

.tile-block {
  max-width: 100%;
  pointer-events:none;
  filter: brightness(20%);
}

.container {
  max-width: 100%;
  padding: inherit;
}

.pipe-background {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: rgb(0,0,0,0.9);
  color: white;
  padding: 20vh 0px 0vh 0px;
  z-index: 40;
}

.pipe-tile {
  cursor: pointer;
}

.pipe-tile-image {
  max-width: 100%;
}

.pipe-tile-image:hover {
  transform: scale(1.1, 1.1);
}

.game-over-background {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 100%;
  background-color: rgb(0,0,0,0.9);
  color: white;
}

.shadowfilter {
-webkit-filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
 drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7))
}

.green-glow {
  -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5)) !important;
  filter: drop-shadow(0px 0px 7px rgba(0, 255, 0, 0.5)) !important;
}

.green-highlight {
  box-shadow: 0px 0px 20px rgba(0,255,0,0.6);
  transition: box-shadow 0.3s ease-in-out;
}

.red-highlight  {
  box-shadow: 0px 0px 20px rgba(255,0,0,0.6);
  /* transition: box-shadow 0.3s ease-in-out; */
  transition-duration: 0.2s, 2s;
  transition-property: box-shadow;
}

.game-over {
  text-align: center;
}

.pipe-user-feedback {
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
}

.pipe-user-feedback p {
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.start-game {
  cursor: pointer;
}

.girl-image img{
  width: 8vw;
  position: absolute;
  bottom: 0px;
  left: 0px;
  filter: brightness(20%);
}

.factory-image img{
  width: 17vw;
  position: absolute;
  bottom: 0px;
  right: 0px;
  filter: brightness(20%);
}

.game-menu {
  text-align: center;
}

.start-game img {
  width: 10vw;
}

.exit-game img {
  width: 10vw;
}

.close-button {
  cursor: pointer;
}

#pipe_timer {
    color: #b63e2e;
    font-size: 30px;
}
