<!doctype html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- PAGE TITLE : QUIZ'S & GAMES -->
  <title>OceanUs Project | Quiz's &amp; Games</title>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>
  <!-- <script src="../js/about.js"></script> -->

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/about.css">

</head>

<body>
  <div class="content-div container-fluid">

    <!-- HEADER -->
    <header class="header">
      <script>buildHeader();</script>
    </header>

    <!-- MAIN -->
    <main>

      <!-- SECTION : ABOUT US -->
      <section id="about_us" class="no-padding">
        <div class="row no-padding">
          <div class="col-md-6 left-block no-padding">
            <div class="about-us-text">

              <!-- About us -->
              <p>“Sharks in Suits”</p>
              <ul>
                <li>Made in Monash with MIT/MBIS/MNS</li>
                <li>An international cross cultural team</li>
                <li>Creative, Energetic, Compatible</li>
                <li>Enjoy the whole process</li>
              </ul>

            </div>
            <img src="../images/about_us_image.png">
          </div>
          <div class="col-md-6 right-block no-padding">
            <img src="../images/profile-images.jpeg">
          </div>
        </div>
      </section>

    </main>


    <!-- FOOTER -->
    <footer class="footer">
      <script>buildFooter();</script>
    </footer>

  </div>
</body>

</html>
