<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- PAGE TITLE : ADVENTURE QUIZ -->
  <title>OceanUs Project | Adventure Quiz</title>

  <script th:inline="javascript">
  /*<![CDATA[*/

    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
    console.log(isLoggedIn);

    var articleCount = /*[[${articleCount}]]*/ 1;
    console.log(isLoggedIn);

    var articleId = /*[[${articleId}]]*/ 1;
    console.log(articleId);

  /*]]>*/
  </script>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>
  <script src="../js/adventurequiz.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/adventurequiz.css">

</head>

<body>
  <div class="content-div container-fluid">

    <!-- HEADER -->
    <header class="header">
      <script>buildHeader();</script>
    </header>

    <!-- MAIN -->
    <main>

      <!-- SECTION : CONTENT -->
      <section id="content_section" class="content-section" style="display: none;">
        <!-- Background triangle -->
        <!-- <div class="content-background"></div> -->
      </section>

      <!-- SECTION : WELCOME QUIZ -->
      <section id="welcome_quiz_section" class="welcome_quiz_section" style="display: none;">
      </section>

      <!-- SECTION : QUIZ -->
      <section id="quiz_section" class="quiz-section" style="display: none;">
      </section>

    </main>


    <!-- FOOTER -->
    <footer class="footer">
      <script>buildFooter();</script>
    </footer>

  </div>
</body>

</html>
