<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- PAGE TITLE : GAMES -->
  <title>OceanUs Project | Games</title>

  <script th:inline="javascript">
  /*<![CDATA[*/

    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
    console.log(isLoggedIn);

  /*]]>*/
  </script>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>
  <script src="../js/cloggedmemory.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/cloggedmemory.css">

</head>

<body>
  <div class="content-div container-fluid">

    <!-- MAIN -->
    <main>

      <!-- SECTION : MEMORY GAME -->
      <section id="memory_game_section" class="memory-background" style="display:none;">
      </section>

      <!-- SECTION : MEMORY GAME OVER -->
      <section id="memory_over_section" class="game-over game-over-background" style="display:none;">
        <div id="user_feedback" class="user-feedback vertical-center">
          <h2 id="user_matches"></h2>
          <h2 id="user_message_1"></h2>
          <h2 id="user_message_2"></h2>
          <p id="user_remaining"></p>
          <p id="user_attempts"></p>
          <br>
          <div class="close-button" onclick="exitGame()">Close</div>
        </div>
      </section>

    </main>

    <!-- SECTION : INSTRUCTIONS -->
    <section id="instructions_section" class="game-over game-over-background">
      <div id="user_feedback" class="user-feedback centered">
        <h2>Clogged Memory</h2>
        <p>The table has <span class="span-blue">8 pairs</span> of cards all flipped face down.
        <br>
        Your job is to match all the pairs in <span class="span-blue">60 Seconds</span>.
        <br>
        Flip both matching cards in a row to make a pair!
        <br>
        <br>
        And remember if it has a red no sign <span class="no-sign span-red">&osol;</span> it can harm our environment
        <br>
        but if it has the green tick <span class="span-green">✔</span> it's safe to throw down the sink!
        </p>
        <br>
        <div class="close-button" onclick="showGame()">Go to Game</div>
      </div>
    </section>

  </div>
</body>

</html>
