<!doctype html>
<html>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- PAGE TITLE -->
  <title>OceanUs Project</title>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../static/js/template.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/index.css">

</head>

<body>
  <div class="container-fluid">

    <!-- HEADER -->
    <header class="header">
      <script>buildHeader();</script>
    </header>

    <main>
      <section id="introduction">
        <div class="introduction-background"></div>
        <div class="row">
          <div class="col-md-6 left-block">
            <h2>OVERVIEW</h2>
            <p>This platform is aimed for you to learn and explore more about the correct disposal of waste. What are the drawbacks if the waste is not disposed correctly and how will it impact our environment and the catchments? In order to make your learning experience more interesting and to be able to have fun at the same time while you are learning we have introduced quizzes and games. So, what are you waiting for? Are you ready to explore??? Have fun while wracking your brains!!!</p>
          </div>
          <div class="col-md-6 right-block">
            <img src="../static/images/overview_image.png">
          </div>
        </div>
      </section>

      <section id="blue_divider" class="full-block">
        <p>Popularise knowledge of sewarage system, with the hope that more people pay attention to the classification of sewage wast and reduce the public burden while maintaining ecological balance</p>
      </section>

      <section id="about_us" class="no-padding">
        <div class="row no-padding">
          <div class="col-md-6 left-block no-padding">
            <div class="about-us-text">
              <p>“Sharks in Suits”</p>
              <ul>
                <li>Made in Monash with MIT/MBIS/MNS</li>
                <li>An internaional cross cultural team</li>
                <li>Creative, Energetic, Compatible</li>
                <li>Enjoy the whole process</li>
              </ul>
            </div>
            <img src="../static/images/about_us_image.png">
          </div>
          <div class="col-md-6 right-block no-padding">
            <img src="../static/images/profile-images.jpeg">
          </div>
        </div>
      </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <script>buildFooter();</script>
    </footer>

  </div>
</body>

</html>
