<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- PAGE TITLE : INDEX -->
  <title>OceanUs Project</title>

  <script th:inline="javascript">
  /*<![CDATA[*/

    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
    console.log(isLoggedIn);

  /*]]>*/
  </script>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>
  <script src="../js/index.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/index.css">

</head>

<body>
  <div class="container-fluid">

    <!-- HEADER -->
    <header class="header">

      <script>buildHeader();</script>

      <div class="row">

        <div class="col-lg-6 header-content-block">

          <div class="header-content">
            <h2><span class="header-span-green">Get to know more about our Water Catchment</span></h2>
            <p>Disposing one wrong item could affect our water catchment. At OceanUs have fun while exploring the sewage system</p>
          </div>
        </div>

        <div class="col-lg-6">
        </div>

      </div>

    </header>

    <!-- MAIN -->
    <main>

     

      <!-- SECTION : INTRODUCTION -->
      <section id="introduction">

        <div class="row">

          <div class="col-md-7 left-block introduction-text">

            <p>This platform is aimed for you to learn and explore more about the correct disposal of waste. What are the drawbacks if the waste is not disposed correctly and how will it impact our environment and the catchments? In order to make your learning experience more interesting and to be able to have fun at the same time while you are learning we have introduced quizzes and games. So, what are you waiting for? Are you ready to explore??? Have fun while wracking your brains!!!</p>

          </div>

          <div class="col-md-5 right-block">

             <img src="../images/overview_image.png">

          </div>

        </div>

        <div class="row">

          <div class="col-md-5 left-block">

            <img src="../images/brian-yurasits-y8k-dMPNWNI-unsplash.jpg">

          </div>

          <div class="col-md-7 right-block introduction-text">

            <h2>What are we going to do?</h2>
            <p>Did you know that everything you throw into the toilet or the kitchen sink, will affect our sewer system and even endanger our water resources? Do you know what should be thrown into the sewer and what should not be? Join an amazing adventure with us! During this journey, you will learn about the water system of the city of Melbourne, understand the relevant promotion nowadays, and explore how our sewage is recycled.</p>
            <p>Start now and <a href="/explore">Click Here</a></p>

          </div>



        </div>

      </section>

      <!-- SECTION : BLUE DIVIDER -->
      <section id="green_divider" class="full-block">
        <p>Popularise knowledge of sewage system, with the hope that more people pay attention to the classification of sewage waste and reduce the public burden while maintaining ecological balance</p>
      </section>

      <!-- SECTION : CALL TO ACTION -->
      <section class="cta">
        <div class="row">

          <div onClick="goToExplore();" class="col-lg-4 cta-block">

            <div class="cta-explore cta-image">
            </div>

            <div class="cta-explore-text cta-text">
              <h2>EXPLORE</h2>
            </div>

          </div>

          <div onClick="goToAdventure();" class="col-lg-4 cta-block">

            <div class="cta-adventure cta-image">
            </div>

            <div class="cta-adventure-text cta-text">
              <br>
              <h2>ADVENTURE</h2>
              <h2>QUIZ</h2>
              <br>
            </div>

          </div>

          <div onClick="goToGames();" class="col-lg-4 cta-block">

            <div class="cta-games cta-image">
            </div>

            <div class="cta-games-text cta-text">
              <h2>GAMES</h2>
            </div>

          </div>

        </div>

        <div class="row cta-description-row">

          <div class="col-lg-4">

            <div>
              <br>
              <p>Do you know how much water Melbourne residents used in daily life? Find out more about water catchment related to our life!</p>
            </div>

          </div>

          <div class="col-lg-4">

            <div>
              <br>
              <p>Want to know more about how our sewage system works and check your understanding with a few quizzes after readings!</p>
            </div>

          </div>

          <div class="col-lg-4">

            <div>
              <br>
              <p>After you unlock the games by reading articles and taking quizzes, there are a couple of games waiting for you to unlock them!</p>
            </div>

          </div>

        </div>

      </section>

      <!-- SECTION : VIDEO -->
      <section class="video">
        <!-- <div class="cta-background"></div> -->
        <div class="row">
          <div class="col-12 full-block">
            <br>
            <h2><span class="header-span-green">Where does the water go?</span></h2>
            <p>Check this interesting video created by Southwestwater, to have a first glance of where the water went after you flush the toilet, after washing vegetables in your sink and the water you use for day to day activities.</p>
            <br>
            <br>
            <iframe width="784" height="441" src="https://www.youtube-nocookie.com/embed/wAcZrC1wnss" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <script>buildFooter();</script>
    </footer>

  </div>
</body>

</html>
