<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- PAGE TITLE : LOGIN -->
  <title>OceanUs Project | Login</title>

  <script th:inline="javascript">
  /*<![CDATA[*/

    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
    console.log(isLoggedIn);

  /*]]>*/
  </script>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/login.css">

</head>

<body>
  <div class="content-div container-fluid">

    <!-- HEADER -->
    <header class="header">
      <script>buildHeader();</script>
    </header>

    <!-- MAIN -->
    <main>

      <!-- SECTION : HEADING -->
      <section class="heading">
        <div class="row">
          <div class="col-12 title-block center-text">
            <h1>Login</h1>
          </div>
        </div>
      </section>

      <div class="login-container">
        <h2>Login to your account</h2>
        <form th:action="@{/login}" method="post">
            <div>
                <label>Username</label>
                <input type="text" name="username" required/>
            </div>
            <div>
                <label>password</label>
                <input type="password" name="password" required/>
            </div>
            <button class="login-button" type="submit"><img src="../images/button/login.png"></button>
        </form>
        <p th:text="${message}" ></p>
        <p>No account? Why not <a href="signup">Signup</a></p>
      </div>

    </main>


    <!-- FOOTER -->
    <footer class="footer">
      <script>buildFooter();</script>
    </footer>

  </div>
</body>
</html>
