<!doctype html>
<html>

<head>

  <!-- PAGE TITLE -->
  <title>Map</title>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script> -->
  <script src="../static/js/template.js"></script>
  <script src="../static/js/map.js"></script>
  <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
  <script src="../static/js/2019.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body onload="viz2019();">
  <div class="container-fluid">

    <!-- HEADER -->
    <header class="header">
      <script>buildHeader();</script>
    </header>

    <!-- DATA : https://discover.data.vic.gov.au/dataset/postcode-boundaries-polygon-1-250-000-to-1-5-million-vicmap-lite -->
    <!-- https://discover.data.vic.gov.au/dataset/lga -->
    <!-- https://discover.data.vic.gov.au/dataset/victorian-electors-by-locality-postcode-and-electorates -->
    <!-- Converted to JSON by mapshaper.org -->

    <!-- <div id='map' style='width: 800px; height: 600px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1IjoibWFsY29sbW1hbGxveSIsImEiOiJjazF4NGVoOWIwNWprM2NvNDlrb2U0c2xwIn0.kwskG-fOsxlDG7R1ITSQvg';
    var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/malcolmmalloy/cke799vl53dnh1apgytoyf4xr', // stylesheet location
    center: [145.099849, -36.564570], // starting position [lng, lat]
    zoom: 5.5 // starting zoom
    });
    </script> -->

    <div id="tableauViz_2019"></div>
  </div>

  <!-- FOOTER -->
  <footer class="footer">
    <script>buildFooter();</script>
  </footer>

</body>

</html>
