<!doctype html>
<html>

<head>

  <!-- PAGE TITLE -->
  <title>OceanUs Project | Map</title>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="https://public.tableau.com/javascripts/api/tableau-2.min.js"></script>
  <script src="../static/js/template.js"></script>
  <script src="../static/js/map.js"></script>


  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />
  <link rel="stylesheet" href="../static/css/normalize.css">
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/map.css">

</head>

<body onload="viz2019();">
  <div class="container-fluid">


    <!-- HEADER -->
    <header class="header">
      <script>buildHeader();</script>
    </header>

    <main>

      <section id="map-1" class="no-padding">
        <div class="row">
          <div class="col-md-8 left-block">
            <!-- MAP -->
            <div id="tableauViz_2019"></div>
          </div>
          <div class="col-md-4 right-block">
            <p>From these two pictures, we can know the water use situation of each suburb in Melbourne. Put your pointer on the circle to find out more about the water consumption volume.</p>
          </div>
        </div>
      </section>

      <section id="map-2" class="no-padding">
        <div class="row">
          <div class="col-md-8 left-block">

          </div>
          <div class="col-md-4 right-block">
          </div>
        </div>

      </section>

      <div class="map-background top-left"></div>
      <div class="map-background bottom-left"></div>
      <div class="map-background bottom-right"></div>

    </main>
    <!-- FOOTER -->
    <footer class="footer">
      <script>buildFooter();</script>
    </footer>

  </div>
</body>

</html>
