<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- PAGE TITLE : PROFILE -->
  <title>OceanUs Project | Profile</title>

  <script th:inline="javascript">
  /*<![CDATA[*/

    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
    console.log(isLoggedIn);

  /*]]>*/
  </script>
  
  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>
  <script src="../js/profile.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/profile.css">

</head>

<body>
  <div class="content-div container-fluid">

    <!-- HEADER -->
    <header class="header">
      <script>buildHeader();</script>
    </header>

    <!-- MAIN -->
    <main>

      <!-- SECTION : QUIZ RESULTS -->
      <section class="quiz-results-section">

        <!-- WELCOME MESSAGE -->
        <div class="row welcome-header">
          <div class="col-md-12 no-padding">
            <div class="quiz-results-border">
            </div>
          </div>
        </div>

        <!-- QUIZ RESULTS HEADER -->
        <div class="row">
          <div class="col-md-12 section-header">
            <h2>Quiz Results</h2>
          </div>
        </div>

        <!-- QUIZ RESULTS -->
        <div class="quiz-border row full-block">

          <!-- <div class="col-3 high-score-block">
            <div class="high-score-border blue-border">
              <h4>Quiz 1</h4>
            </div>
          </div>

          <div class="col-3 high-score-block">
            <div class="high-score-border green-border">
              <h4>Quiz 2</h4>
            </div>
          </div>

          <div class="col-3 high-score-block">
            <div class="high-score-border red-border">
              <h4>Quiz 3</h4>
            </div>
          </div>

          <div class="col-3 high-score-block">
            <div class="high-score-border green-border">
              <h4>Quiz 4</h4>
            </div>
          </div> -->

        </div>

      </section>

      <!-- SECTION : GAME HIGH SCORES -->
      <!-- <section class="high-scores-section">

        <div class="row">
          <div class="col-md-12 section-header">
            <h2>High Scores</h2>
          </div>
        </div>

        <div class="row full-block">

          <div class="col-4 high-score-block">
            <div class="high-score-border blue-border">
              <h4>Shark vs Rubbish</h4>
            </div>
          </div>

          <div class="col-4 high-score-block">
            <div class="high-score-border green-border">
              <h4>Suzies Toosies</h4>
            </div>
          </div>

          <div class="col-4 high-score-block">
            <div class="high-score-border red-border">
              <h4>Clogged Memory</h4>
            </div>
          </div>

        </div>
      </section> -->

      <!-- SECTION : BADGES -->
      <section class="badges-section">

        <!-- BADGES HEADER -->
        <div class="row">
          <div class="col-md-12 section-header">
            <h2>Achievement Badges</h2>
          </div>
        </div>

        <!-- BADGES  -->
        <div class="row section-content">
          <div class="badges-border">
          </div>
        </div>

      </section>

    </main>

    <!-- FOOTER -->
    <footer class="footer">
      <script>buildFooter();</script>
    </footer>

  </div>
</body>

</html>
