<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>

  <!-- PAGE TITLE : GAMES -->
  <title>OceanUs Project | Games</title>

  <!-- GET THYMELEAF VARIABLES -->
  <script th:inline="javascript">
  /*<![CDATA[*/
    var isLoggedIn = /*[[${isLoggedIn}]]*/ false;
  /*]]>*/
  </script>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>
  <script type="text/javascript" src="../js/phaser.min.js"></script>
  <script type="text/javascript" src="../js/SceneBootGame.js"></script>
  <script type="text/javascript" src="../js/SceneMain.js"></script>
  <script type="text/javascript" src="../js/SceneInstruction.js"></script>
  <script type="text/javascript" src="../js/ScenePlayGame.js"></script>
  <script type="text/javascript" src="../js/SceneGameOver.js"></script>
  <script type="text/javascript" src="../js/SharkGame.js"></script>
  <script type="text/javascript" src="../js/EggShell.js"></script>
  <script type="text/javascript" src="../js/MilkBox.js"></script>
  <script type="text/javascript" src="../js/OilBottle.js"></script>
  <script type="text/javascript" src="../js/Medicine.js"></script>
  <script type="text/javascript" src="../js/Fish.js"></script>
  <script type="text/javascript" src="../js/ToiletPaper.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/sharkvsrubbish.css">

</head>

<body>
  <div class="content-div container-fluid">

    <!-- MAIN -->
    <main>

      <!-- SECTION : SHARK GAME -->
      <section id="shark_section" class="shark-background"/>

    </main>

    <!-- SECTION : INSTRUCTIONS -->
<!--    <section id="pipe_instructions_section" class="game-over game-over-background">-->
<!--      <div id="pipe_user_feedback" class="pipe-user-feedback centered">-->
<!--        <h2>Suzie’s Toosies</h2>-->
<!--        <p>The pipe from Suzie's toilet to the waste water plant is broken and needs to be repaired!-->
<!--          <br>-->
<!--          Try and make one continuous pipe from Suzies house on the top right to the waste water plant on the bottom left.-->
<!--          <br>-->
<!--          Click on the pipes to rotate them to the correct position.-->
<!--          <br>-->
<!--          But remember, there is only <span class="span-blue">120 seconds</span> on the clock before flush time!-->
<!--        </p>-->

<!--        <br>-->
<!--        <div class="close-button" onclick="showPipeGame()">Go to Game</div>-->
<!--      </div>-->
<!--    </section>-->

  </div>
</body>

</html>
