<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Signup Form</title>
</head>

<body>
<form th:action="@{/signup}" th:object="${user}" method="post">
    <div>
        <label>email</label>
        <input type="text" th:field="*{username}"/>
        <p th:each="error : ${#fields.errors('username')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>password</label>
        <input type="password" th:field="*{password}"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}">Validation error</p>
    </div>
    <div>
        <label>password confirm</label>
        <input type="password" th:field="*{matchingPassword}"/>
        <p th:each="error : ${#fields.errors('matchingPassword')}"
           th:text="${error}">Validation error</p>
    </div>
    <button type="submit">Signup</button>
</form>
<a th:href="@{/about}" ></a>
<p th:text="${message}" ></p>
</body>
</html>