<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- PAGE TITLE : GAMES -->
  <title>OceanUs Project | Games</title>

  <!-- JAVASCRIPT -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  <script src="../js/template.js"></script>
  <script src="../js/suziestoosies.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/normalize.css">
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/suziestoosies.css">


</head>

<body>
  <div class="content-div container-fluid">

    <!-- MAIN -->
    <main>

      <!-- SECTION : SUZIES TOOSIES -->
      <section id="pipe_game_section" class="pipe-background" style="display:none;">
      </section>


      <!-- SECTION : SUZIES TOOSIES OVER -->
      <section id="pipe_over_section" class="game-over game-over-background" style="display:none;">
        <div id="pipe_user_feedback" class="pipe-user-feedback centered">
          <h1 id="">You reached the end!</h1>
          <p></p>
          <p id="user_remaining"></p>
          </br>
          <div class="close-button" onclick="pipeExitGame()">Close</div>
        </div>
      </section>

      <!-- SECTION : INSTRUCTIONS -->
      <section id="pipe_instructions_section" class="game-over game-over-background">
        <div id="pipe_user_feedback" class="pipe-user-feedback centered">
          <h2>Suzie’s Toosies</h2>
          <p>The pipe from Suzie's toilet to the waste water plant is broken and needs to be repaired!
          </br>
          Try and make one continuous pipe from Suzies house on the top right to the waste water plant on the bottom left.
          </br>
          Click on the pipes to rotate them to the correct position.
          </br>
          But remember, there is only <span class="span-blue">120 seconds</span> on the clock before flush time!
          </p>

          </br>
          <div class="close-button" onclick="showPipeGame()">Go to Game</div>
        </div>
      </section>


    </main>

  </div>
</body>

</html>
